body{
   background-color:rgb(182, 185, 189);
   height: 100%;
   margin: 0;
}
#content{
  position: absolute;
 padding: 10px;
  background-color: white;
  margin:0 15%;
  box-shadow: 3px 4px 15px 2px rgba(0, 0, 0, 0.6);  
  }
  @media screen and (max-width: 500px) {
    #content{
      margin :0 5%;  
    }
  }
#introduction {
  position:relative;
  margin: 2%;
  padding: 2%;
  border:1px solid rgba(53, 51, 51, 0.514);
  border-radius: 25px;
}
 div .item{
  position: relative;
    width:100%;
    min-height: 210px;
    height: auto;
    background-color:rgba(148, 143, 143, 0.075);
    display:block;
    margin-top: 2px;
}
.item img{
 position: relative;
  width: 100%;
 max-width: 135px;
  height: auto;
  display: inline-block;
  float: left;
}
@media screen and (max-width: 750px) {
  .item img{
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
  }
}
span{
  font-family:Roboto,Helvetica,Arial,sans-serif;  
  margin:2%;
  font-size: 11px;
  margin-right: 5%;
  float: right;
  display: block;
  color: rgb(56, 53, 53);
}
h2{
  margin-left:2%;
  padding-left: 2%; 
  font-size:20px;
  color: #136CB2;
  float:left;
  font-family:Roboto,Helvetica,Arial,sans-serif;  
}
.item p {
    font-family: Verdana, Arial, sans-serif;
   margin-top: 10%;
   margin-left: 25%;
   font-size: small;
  }
  @media screen and (max-width: 750px) {
    .item p{
      margin-left: 0;
      margin-top: 120%;
      padding-top:50%;
      display: block;
    }
     h2, span{
      padding:1%;
      display: block;
      margin-left: 0px;
      margin-right: 0px;
    }
    h2{
      float: left;
      margin-top:5%;
    }
    span{
    margin-top: 7%;
    float: right;
  }
    div .item {
      min-height: 100%;
      padding: 0;
    }
  }
 
#loader{margin: 25% 50%;}
  
#readmeContent{
  background-color:rgba(148, 143, 143, 0.075);
  border:1px solid rgba(7, 94, 7, 0.514);
  border-radius: 25px;
  margin: 20px;
}
.readmeMd {
  font-family:Roboto,Helvetica,Arial,sans-serif;
  position:relative;
  margin: 20px;
  padding: 20px;
}
.readmeMd  li{font-size: 15px;}

 