/*body{
    background-image:url("picture/bg.jpg");
    margin: 0px;
    top:0px;
    left:0px;
    background-attachment: fixed;
    
}
div .item{
    width: 300px;
    height: 500px;
    background-color: lemonchiffon;
    margin: 50px;
    display:inline-block;
}

 #content{
margin: 0px;
top: 0;
left: 0;
  
   
}

img .item{
    width: 100px;
    height: 300px;;
}
*/