body{
   background-color:rgb(182, 185, 189);
   margin: 0px;
    top:0px;
    left:0px;
}



 #content{
padding: 10px;
background-color: white;
margin-left: 200px;
margin-right: 200px;
box-shadow: 3px 4px 15px 2px rgba(0, 0, 0, 0.6);
   
}

#introduction {
  position:relative;
  
  margin: 20px;
  padding: 20px;
  border:1px solid rgba(53, 51, 51, 0.514);
  border-radius: 25px;
}


div .item{
  position: relative;
    width:100%;
    height: 210px;
    background-color:rgba(148, 143, 143, 0.075);
    display:block;
    margin-top: 2px;
  
   
}
.item img{
  width:140px;
  height: 205px;
display: inline-block;
float: left;
}
 
p,h2{
  margin-left: 50px;
  padding-left: 10px;
  
}
h2,span{
  float:left;
  font-family:Roboto,Helvetica,Arial,sans-serif;
  
}
span{
  font-size: 11px;
  margin-right: 10px;
  float: right;
  display: block;
  color: rgb(56, 53, 53);

}
h2{
  
  color: #136CB2;
}

.item p {
    font-family: Verdana, Arial, sans-serif;
   margin-top: 50px;
   margin-left: 150px;
   font-size: small;
  }



  

 

 